@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue: #3B66FF;
  --gold: #FFD43B;
  --darkgold: #D0AE33;
  --darkblue: #1C223C;
  --darkgrey: #161515;
  --lightgrey: #D8E0FF;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka One", sans-serif;
  background-color: #3B66FF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  border: 10px solid var(--gold);
  border-top: 10px solid var(--darkgold);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}